.tutorial {
  display: flex;
  max-width: 1000px;
  margin: 24px auto;
  padding: 48px;
  &__image {
    margin-left: 16px;
    width: 500px;
    margin: 0;
    img {
      width: 100%;
    }
  }
  &__body {
    flex: 1;
    font-size: 14px;
  }
}

.token-field {
  width: 22em;
  margin-right: 16px;
}

.list {
  line-height: 1.8;
  margin-bottom: 24px;
  li {
    margin-bottom: 8px;
  }
}
