<mat-card>
  <div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.number }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>合計</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>タイトル</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [href]="element.url" target="_blank">{{ element.title }}</a>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="assignees">
        <mat-header-cell *matHeaderCellDef>アサイン</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="avatars">
            <span [style.background-image]="'url(https://github.com/' + assignee + '.png)'" [matTooltip]="assignee" class="avatar" *ngFor="let assignee of element.assignees"></span>
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef>ステータス</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.state }}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef>工数</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.cost | number }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{ getTotalCost() | number }}</mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>

    <mat-paginator [pageSize]="100" [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
