.avatars {
  display: inline-flex;
  vertical-align: middle;
  flex-direction: row-reverse;
}

.avatar {
  width: 32px;
  height: 32px;
  background: center/cover;
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid white;
  & + & {
    margin-right: -16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

*[class*=cell] {
  flex: none;
}

.mat-column-title {
  flex: 1;
  text-align: left;
}

.mat-column-assignees {
  width: 100px;
}

.mat-column-state {
  width: 60px;
}

.mat-column-id {
  width: 50px;
}

.mat-column-cost {
  width: 70px;
}

.status {
  color: #28a745;
}

.status-closed {
  color: #cb2431;
}
