<mat-card>
  <div class="content">
    <div class="content__body">
      <h2>使い方</h2>
      <ol>
        <li>
          Issueのタイトルに<span class="code">チケットタイトル - 2.5H</span
          >のフォーマットで作業工数（時間）を記載してください。(<a
            href="https://github.com/deer-inc/github-manager-example-repository/issues"
            target="_blank"
            >例</a
          >)
        </li>
        <li>Issueに担当者をアサインしてください。</li>
        <li>
          フォームにリポジトリのオーナー名とリポジトリ名を入力してIssueを取得します。たとえば<span class="code">https://github.com/deer-inc/github-manager-example-repository</span>の場合ownerは<span class="code">deer-inc</span>でリポジトリ名は<span class="code">github-manager-example-repository</span>になります。
        </li>
        <li>コラボレータごとの工数が算出されます。</li>
        <li>算出された工数をもとに請求書を作成してください。（請求書作成機能はありません）</li>
      </ol>
    </div>

    <figure class="issue-image">
      <img src="./assets/issue-example.png" alt="" />
    </figure>
  </div>
</mat-card>
