<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="nope">
    <mat-form-field floatLabel="always">
      <mat-label>複製したいリポジトリURL</mat-label>
      <input
        matInput
        formControlName="url"
        type="url"
        name="url"
        autocomplete="none"
        required
      />
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label>複製先のオーナー名</mat-label>
      <input
        matInput
        formControlName="owner"
        type="text"
        name="owner"
        autocomplete="none"
      />
    </mat-form-field>
    <button color="primary" [disabled]="form.invalid" mat-raised-button>
      複製
    </button>
  </form>
</mat-card>
